.additional-item-card {
  border-bottom: 1px solid @basic-border;
  padding-top: 13px;
  padding-bottom: 19px;
}

.additional-item-card__title {
  .text-style-none ();
  font-size: 16px;
  line-height: 16px;
}

.additional-item-card__description {
  .font-arial ();
  .text-style-none ();
  font-size: 14px;
  line-height: 14px;
}
