.additional-item-card {
  border-bottom: 1px solid @basic-border;
  padding-top: 13px;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 230px;
    padding: 26px 38px 26px;
    column-gap: 20px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 305px 305px 244px;
    padding: 0;
    align-items: center;
    min-height: 71px;
  }
}

.additional-item-card__title {
  .text-style-none ();
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-item-card__description {
  display: flex;
  justify-content: space-between;
  .font-arial ();
  .text-style-none ();
  font-size: 14px;
  line-height: 14px;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
    margin-top: 5px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {

    justify-content: space-between;
  }
}

.additional-item-card__value {
  @media (min-width: @tablet-width) {
    width: 60px;
    margin-left: 34px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.additional-item-card__button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top: 0;
  }
}
