.catalog-additional {
  padding-top: 25px;
  padding-bottom: 19px;
}

.catalog-additional__title {
  .text-style-none ();
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 36px;
}

.catalog-additional__list {
  .list-style-none ();
  border-top: 1px solid @basic-border;
}

.catalog-additional__gift {
  background-image: url("../img/gift-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-top: 36px;
}

.catalog-additional__gift-text {
  .font-arial ();
  .text-style-none ();
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
}
