.contacts {
  background-color: @basic-white;
}

.contacts--grey-bg {
  background-color: @basic-light-grey;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 26px;
  margin-right: 5px;

  @media (min-width: @tablet-width) {
    padding: 64px 41px 58.3px 41px;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 405px;
    padding: 64px 89px 59.27px 76px;
    margin-right: 0;
    background-color: @basic-white;
  }
}

.contacts__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  .text-style-none ();

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 25px;
  }
}

.contacts__address {
  .font-arial ();
  line-height: 20px;
  .text-style-none ();

  @media (min-width: @tablet-width) {
    text-align: end;
  }

  @media (min-width: @desktop-width) {
    text-align: start;
  }
}

.contacts__city {
  @media (min-width: @tablet-width) {
    display: inline-block;
    padding-top: 20px;
  }
}
