.form__fieldset {
  border: none;
  .list-style-none ();
}

.form__legend {
  .text-style-none ();
  font-size: 24px;
  line-height: 26px;
}

.form__list {
  .list-style-none ();
}

.form__label {
  font-size: 16px;
  text-transform: uppercase;
  color: @basic-dark-grey;
}

.form__input,
.form__textarea {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-dark-grey;
}

.form__container .form__fieldset {
  border-bottom: 1px solid @basic-border;
}

.form__general-info {
  padding-bottom: 24px;
}

.form__product-type {
  padding-top: 22.22px;
  padding-bottom: 19.38px;
}

.form__product-type .form__label {
  color: @basic-grey;
}

.form__contacts {
  padding-top: 26px;
  margin-bottom: 23.57px;
}

.form__comments {
  margin-bottom: 22.75px;
}

.form__additions {
  margin-bottom: 34px;
}

.form__additions .form__label{
  color: @basic-black;
}

.form__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border: none;
  padding: 0;
  margin: 0;
}

.form__note {
  .text-style-none ();
}
