.main-form {
  padding-top: 27px;
  padding-bottom: 32px;
  border-top: 1px solid @basic-border;

  @media (min-width: @tablet-width) {
    padding-bottom: 72px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 84px;
  }
}

.main-form__title {
  font-size: 36px;
  line-height: 36px;
  .text-style-none ();

  @media (min-width: @tablet-width) {
    margin: 38px 37px 54px 39px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 46px 37px 54px 0;
  }
}

.main-form__text {
  .text-style-none ();
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin: 0 37px 66px 40px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}
