.page-header {
  padding-top: 10px;

  @media (min-width: @tablet-width) {
    padding-top: 24px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 55px;
  }
}

.page-header--bg {
  @media (min-width: @desktop-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;
      background:  linear-gradient(rgba(@basic-green, 0.85), rgba(@basic-green, 0.85)) center left repeat,
        url("../img/index-bg-desktop.jpg") center left no-repeat,
        linear-gradient(@special-bg-grey, @special-bg-grey) center left repeat;
      z-index: -2;

      @media (min-resolution: 2dppx) {
        background:  linear-gradient(rgba(@basic-green, 0.85), rgba(@basic-green, 0.85)) center left repeat,
          url("../img/index-bg-desktop@2x.jpg") center left/ auto 694px no-repeat,
          linear-gradient(@special-bg-grey, @special-bg-grey) center left repeat;
      }
    }
  }
}

.page-header__container {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}

.page-header__nav {
  @media (min-width: @tablet-width) {
    padding-top: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.page-header__logo,
.page-header__logo-img {
  width: 191px;
  height: 38px;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo-state:hover,
.page-header__logo-state:focus {
  opacity: 0.8;
}

.page-header__logo-state:active {
  opacity: 0.6;
}
