.page-header {
  padding-top: 10px;
  padding-bottom: 17.39px;
}

.page-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: @basic-white;
}

.page-header__logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 191px;

  @media (min-width: @tablet-width) {
    width: 174px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
  }
}

.page-header__logo {
  width: 34px;
  height: 38px;
}

.page-header__logo-name {
  width: 101px;
  height: 18px;
}
