.page-footer__bottom {
  padding-top: 39px;
  background-color: @basic-light-grey;
}

.page-footer__logo-name {
  width: 128px;
  height: 24px;
}

.page-footer__copyright {
  .font-arial ();
  line-height: 20px;
}
