.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // margin-left: -20px;
  // margin-right: -20px;
  // padding: 19px 20px 24px 20px;
  // border-bottom: 1px solid @basic-border;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 324px;
    margin: 0;
    padding: 0;
    background-color: @basic-light-grey;
    box-shadow: inset 0 81px @basic-white;
  }
}

.product-card__img {
  display: flex;
  height: 125px;
}

.product-card__img img {
  margin: auto;
  background-color: @basic-white;
  object-fit: cover;
}

.product-card__title h3 {
  width: 55%;
  .text-style-none ();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 14px;
  color: @basic-grey;
}

.product-card__characteristics-list {
  .text-style-none ();
  font-size: 12px;
  line-height: 16px;
  .font-arial ();
}

.product-card__characteristics-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @special-border;
  }
}

.product-card__button {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    align-self: stretch;
    margin-left: 39px;
    margin-right: 37px;
  }

  @media (min-width: @desktop-width) {
    align-self: stretch;
    margin-left: 39px;
    margin-right: 38px;
  }
}
