.show-card {
  position: relative;
  padding-top: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    margin-top: 82px;
    padding: 161px 36px 39px 36px;
    text-align: center;
    border: 2px solid @basic-light-grey;
  }

  @media (min-width: @tablet-width) {
    padding: 158px 37px 41px 37px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 38px;
    width: 30px;
    height: 2px;
    background-color: @plus-catalog;
  }

  &::after {
    position: absolute;
    content: "";
    top: 24px;
    width: 2px;
    height: 30px;
    background-color: @plus-catalog;
  }
}

.show-card__title {
  .text-style-none ();
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-black;

  @media (min-width: @tablet-width) {
    width: 70%;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.show-card__text {
  .font-arial ();
  .text-style-none ();
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    width: 70%;
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.show-card__button {
  align-self: stretch;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: @basic-light-grey;
  color: @basic-dark-grey;
}
