.show-card {
  padding-top: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-card__title {
  .text-style-none ();
  font-size: 16px;
  line-height: 20px;
  color: @special-black;
}

.show-card__text {
  .font-arial ();
  .text-style-none ();
  font-size: 12px;
  line-height: 16px;
}

.show-card__button {
  background-color: @basic-light-grey;
  color: @basic-dark-grey;
  text-transform: uppercase;
}
