.slider__list {
  .list-style-none ();
  display: block;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 699px;
    height: 520px;
    position: relative;
  }
}

.slider__item--before {
  display: block;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 10px;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  @media (min-width: @desktop-width) {
    width: 52.5%;
    left: -3px;
  }
}

.slider__photo-before {
  @media (max-width: @mobile-width-only) {
    margin-left: -20px;
  }
}

.slider__item--after {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 43%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    direction: rtl;
  }

  @media (min-width: @desktop-width) {
    left: 52%;
    width: 38%;
  }
}

.slider__controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  height: 40px;
  margin: 19px auto 0;

  @media (min-width: @tablet-width) {
    margin-top: 13px;
    width: 575px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-end;
    align-items: stretch;
    width: 100%;
    margin: 0;
    margin-top: 34px;
    padding-bottom: 66px;
  }
}

.slider__button {
  padding: 0;
  width: 70px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    border-bottom: 1px solid @basic-black;
  }

  &:active {
    border-bottom: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: auto;
    border-bottom: 1px dotted fade(@basic-black, 24%);
  }
}

.slider__range {
  appearance: none;
  width: 84px;
  height: 14px;
  background-color: @basic-white;
  border: 1px solid @special-border;
  border-radius: 6px;

  @media (min-width: @tablet-width) {
    width: 428px;
    height: 6px;
    background-color: @special-range;
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin-right: 15px;
    margin-left: 25px;
  }
}

.slider__range::-webkit-slider-thumb {
  appearance: none;
}

.slider__range-container {
  position: relative;

  @media (min-width: @tablet-width) {
    height: 35px;
  }
}

.slider__range-toggle {
  position: absolute;
  width: 35px;
  height: 6px;
  top: 7px;
  left: 10px;
  background: @basic-green;
  border-radius: 6px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    top: 0;
    left: 200px;
    width: 34px;
    height: 34px;
    padding: 0;
    background-color: @basic-green;
    border: 1px solid @special-border;
    border-radius: 50%;
    box-shadow: inset 0 0 0 12px @basic-white,
      0 1px 3px rgba(@basic-black, 0.16);
    cursor: pointer;

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 12px @basic-white,
        0 2px 4px rgba(@basic-black, 0.19);
    }

    &:active {
      border: 1px solid @basic-green;
    }
  }

  @media (min-width: @desktop-width) {
    left: 220px;
  }
}
