.slider__item {
  display: none;
}

.slider__item--current {
  display: block;
}

.slider__item--current img {
  @media (min-width: @tablet-width) {
    width: auto;
    height: 520px;
  }
}

.slider__controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  height: 40px;
  margin: 19px auto 0;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    width: 575px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-end;
    align-items: stretch;
    width: 100%;
    margin: 0;
    margin-top: 34px;
  }
}

.slider__button {
  padding: 0;
  width: 70px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
  border: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: auto;
    border-bottom: 1px dotted fade(@basic-black, 24%);
  }
}

.slider__range {
  appearance: none;
  width: 84px;
  height: 14px;
  background-color: @basic-white;
  border: 1px solid @special-border;
  border-radius: 6px;

  @media (min-width: @tablet-width) {
    width: 428px;
    height: 6px;
    background-color: @special-range;
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin-right: 15px;
    margin-left: 25px;
  }
}

.slider__range::-webkit-slider-thumb {
  appearance: none;
}

.slider__range-container {
  position: relative;
}

.slider__range-toggle {
  position: absolute;
  width: 35px;
  height: 6px;
  top: 7px;
  left: 10px;
  background: @basic-green;
  border-radius: 6px;

  @media (min-width: @tablet-width) {
    top: 0;
    left: 200px;
    width: 8px;
    height: 8px;
    padding: 0;
    border: 12px solid @basic-white;
    background-color: @basic-green;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(@special-border, 0.3);
    cursor: pointer;
  }

  @media (min-width: @desktop-width) {
    left: 220px;
  }
}
