.stats {
  background-color: @special-grey;
  padding-top: 27px;
  padding-bottom: 31px;
}

.stats__title {
  font-size: 36px;
  line-height: 40px;
  .text-style-none ();
}

.stats__text {
  .font-arial ();
  .text-style-none ();
}

.stats__list {
  .text-style-none ();
}

.stats__number {
  font-size: 24px;
  line-height: 24px;
}

.stats__description {
  .font-arial ();
  font-size: 12px;
  line-height: 12px;
}

.stats__expenses {
  line-height: 20px;
  text-transform: uppercase;
}

.stats__slider {
  .list-style-none ();
}
