@basic-white: #ffffff;
@basic-black: #000000;
@basic-grey: #222222;
@basic-dark-grey: #444444;
@basic-green: #68B738;
@basic-light-grey: #F2F2F2;
@basic-border: #D9D9D9;


@special-grey: #EAEAEA;
@special-black: #111111;
@special-border: #CDCDCD;
@special-border-desktop: #E7E7E7;
@special-border-mobile: #E6E6E6;
@special-bg-green: #64a73d;
@special-border-list-mobile: #D9D9D9;
@special-bg-grey: #3e3d42;
@special-range: #DCDCDC;
@plus-catalog: #D3D3D3;
@green-hover: #5EAA2F;
@grey-hover: #EBEBEB;
@grey-border-hover: #BABABA;
@error: #FF8282;
@stroke-link-fb:#666666;

@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
